.cantina {
  p {
    margin: 0;
  }

  div {
    padding-left: 10px;

    & > div {
      margin-left: 40px;
    }
  }

  .alejandro, .charlie {
    background-color: lightblue;
  }

  .bobby {
    font-weight: bold;
    background-color: lightcoral;
  }
}
